DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password_mysql
DB_NAME=alerta_necochea

JWT_SECRET=cambiar_por_clave_secreta_muy_larga_y_aleatoria

NODE_ENV=development
PORT=4000

FRONTEND_URL=http://localhost:3000
ADMIN_URL=http://localhost:3001
